<table>
    <tr>
        <td>
            <div class="blk">
                <img src="{{profile.picture}}" style="max-height: 100px; max-width: 100px;">
            </div>

        </td>
        <td>
            <div class="blk">
                <p>Name: {{profile.nickname}}</p>
                <br />
                <p>Email: {{profile.email}}</p>
            </div>
        </td>
    </tr>
</table>
